.about {
    font-family: 'Semibold';
    line-height: 140%;
    font-size: 20px;
    margin: 24vh 0 4vh 0;
    text-align: center;
    color: white;
    padding-right: 19.7rem;
    padding-left: 5.7rem;
}

.abu {
    text-align: center;
    color: white;
    font-size: 30px;
}

.class {
    color: white;
    text-align: center;
}

.tasha {
    width: 80%;
    color: white;
    font-family: 'Semibold';
    font-size: 20px;
    margin: 0 auto;

}




