a{
  all: unset
}
html {
  background-color: black;
}

.hope {
  text-align: left;
  color: red !important;
  font-size: 4rem;
  padding-left: 10rem;
  margin-top: 5rem;
}
.hello:hover{
  transform: scale(1.04);
  cursor: pointer;
  /* transition: all 1s; */
  /* transform: translateX(1.1); */

  /* @extend .hope; */
  /* background: khaki; */
  transition: all 1.5s ease-out;
}

/* .hello:hover::after{

  content: "About";
} */

.helo {
  color: red;
  text-align: left;
  font-size: 4rem;
  transform: scale(1.04);
  cursor: pointer;
  padding-left: 10rem;
}
